<mat-toolbar color="primary" class="d-flex align-items-center fixed-top" style="background-color: #1a1a1a;">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/">
      <img src="./assets/img/logo.png" class="logo">
      <img src="./assets/img/logoletras.png" class="logo-letters">
    </a>
  </div>
  <div class="example-spacer"></div>
  <div class="example-spacer"></div>
  <div class="example-spacer"></div>
  <div class="example-spacer">
    <button mat-button class="border-button" [routerLink]="['/producto']">
      <mat-icon>local_mall</mat-icon>
      Tienda
    </button>
    <button mat-icon-button>
      <mat-icon style="padding-top: 2px;">shopping_cart</mat-icon>
    </button>
  </div>
  
</mat-toolbar>

