<mat-card class="full-width" [ngStyle]="isAutenticated ? {'margin': '0 50px 0 50px'} : {'margin': '100px 30px 30px 30px'}" >
    <div class="row g-0">

        <div class="col-6 p-2">
            
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let imagen of datos.imagenes; let isFirst = first">
                <div class="carousel-item" [class.active]="isFirst">
                  <img *ngIf="imagen.imagen; else imagePath" [src]="getBase64FromBytes(imagen.imagen.data)" class="d-block w-100 rounded" alt="...">
                  <ng-template #imagePath>
                    <img src="./assets/img/default.jpg" class="d-block w-100 rounded" alt="...">
                  </ng-template> 
                </div>
              </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;border-radius: 8px;"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" >
              <span class="carousel-control-next-icon" aria-hidden="true"  style="background-color: black;border-radius: 8px;"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          

        </div>

        <div class="col-6 p-4">

          <h3 class="p-2" style="font-weight: 500;color: rgb(61, 61, 61);">{{ datos.descripcion }}</h3>
          <mat-card>
            <div style="font-weight: 200;padding:30px 0 0 25px;" class="row g-0">
              <div class="col-7">
                <p><mat-icon>label_important</mat-icon><span style="font-weight: 400;">Estado: </span> {{ datos.productoEstado.descripcion }}</p>
                <p><mat-icon>label_important</mat-icon><span style="font-weight: 400;">Categoría: </span> {{ datos.categoria.descripcion }}</p>
                <p><mat-icon>label_important</mat-icon><span style="font-weight: 400;">Proveedor: </span> {{ datos.proveedor.proveedor }}</p>

              </div>
              <div class="col-3" style="font-weight: 200;padding-top: 30px;">
                <p style="font-weight: 500; text-align: center;"><mat-icon>sell</mat-icon> {{ datos.precio | currency: "USD"}}</p>
                <p style="text-align: center;"><span style="padding:5px 10px 5px 10px; border-radius: 8px;margin-left: 8px;font-weight: 100" [ngStyle]="{'background-color': getBackgroundColor(datos.cantidad)}">{{ estadoInventario }}</span> </p>
               
              </div>
            </div> 
            <hr>
            <button (click)="comprar(datos)" *ngIf="roleSelected===3" mat-raised-button style="font-weight: 500;background-color: #2A2A2A;color: white;margin: 0px 50px 15px 50px" type="submit">
              Agegar al carrito
            </button>
          </mat-card>
             
        </div>

    </div>

    <div>
      <mat-tab-group>
        <mat-tab label="Comentarios">
          <div style="padding: 15px 100px 15px 100px">
            <mat-card *ngIf="datos.dialogos && datos.dialogos.length > 0">
                <mat-card>
                  <mat-card-header style="font-weight: 200; font-size: 18px; padding: 15px 0px 0px 20px;background-color: #2A2A2A;color: white;">
                    <p>
                      {{ datos.dialogos[currentDialog].titulo }}
                    </p>
                  </mat-card-header>
                <mat-divider></mat-divider>
                <div *ngFor="let comentario of datos.dialogos[currentDialog].comentarios; last as last" class="p-2">
                  <p style="display: flex; align-items: baseline;">
                    <mat-icon *ngIf="comentario.tipo == 2" style="margin-right: 8px; margin-top: 5px;">graphic_eq</mat-icon>
                    <mat-icon *ngIf="comentario.tipo == 3" style="margin-right: 8px; margin-top: 5px;">person</mat-icon>
                    <span *ngIf="comentario.tipo == 2" style="font-weight: 500;">{{ comentario.usuario.proveedor }}:</span>
                    <span *ngIf="comentario.tipo == 3" style="font-weight: 500;">{{ comentario.usuario.nombre }}:</span>
                    <span style="font-weight: 300; margin-left: 5px;">{{ comentario.contenido }}</span>
                    <span style="margin-left: auto; font-weight: 100; font-size: 12px;">
                      {{ comentario.fechaComentario | date: 'dd/MM/YYYY HH:mm' }}
                    </span>
                  </p>
                  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </div>
              </mat-card>
              
              <form style="margin-top: 10px;" [formGroup]="comentarioForm" *ngIf="roleSelected==2 || roleSelected==3"
                (ngSubmit)="enviarMensaje(datos.dialogos[currentDialog].id)">
                <mat-form-field appearance="fill" class="p-2" style="width: 500px;">
                  <input matInput placeholder="Comentario" formControlName="contenido">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                  <mat-icon>send</mat-icon>
                </button>
              </form>



              <div style="display: flex; justify-content: center; padding-bottom: 5px;">
                <button mat-icon-button (click)="prevDialog()" [disabled]="currentDialog === 0">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button (click)="nextDialog()"
                  [disabled]="currentDialog === datos.dialogos.length - 1">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </mat-card>
            <div *ngIf="!datos.dialogos || datos.dialogos.length === 0" style="text-align: center; padding: 10px;">
              <p style="font-weight: 100;color: rgb(160, 160, 160);">No hay comentarios</p>
            </div>
          </div>
          <div *ngIf="roleSelected===3" style="display: flex; justify-content: flex-end;">
            <a mat-fab color="primary" (click)="openCreateDialog(datos.id,currentUser.user.id)">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    
    
</mat-card>

