


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<body>


  <main id="main">

    <!-- ======= Hero Section ======= -->
  <section id="hero" class=" d-flex align-items-center justify-content-center"[ngStyle]="isAutenticated ? {'border-radius': '30px'} : {'border-radius': '0px'}" style="background: url('./assets/img/hero.jpg') fixed;background-size: cover;">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <img src="./assets/img/logoletras.png"  class="logo-letters">
        </div>
      </div>
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8 pt-4">
          <span>Un mundo de sonidos 
          <img src="./assets/img/logo.png" class="logo" >
          en cada nota</span>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="./assets/img/about.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <div class="section-title">
              <h2>Sobre Nosotros</h2>
            </div>
            <p>
              En Melody Shop, nuestra misión es proporcionarte instrumentos musicales excepcionales que te inspiren a expresar tu creatividad y alcanzar tus metas musicales. ¡Únete a nosotros en el viaje musical y descubre tu sonido único!
            </p>
            <p>
              Nos enorgullece ofrecerte una experiencia única en la compra de instrumentos musicales.
            </p>
            <ul>
              <li><mat-icon>check_double</mat-icon> Contamos con una amplia selección de instrumentos de alta calidad para músicos de todos los niveles.</li>
              <li><mat-icon>check_double</mat-icon> Nuestro equipo está formado por expertos apasionados de la música, listos para ayudarte a encontrar el instrumento perfecto.</li>
              <li><mat-icon>check_double</mat-icon> Trabajamos con marcas reconocidas en la industria para garantizar la calidad y el rendimiento de nuestros productos.</li>
            </ul>
           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Cta Section ======= -->
     <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="section-title">
          <h2>Marcas</h2>
        </div>
        <div class="row">
          <div class="col-lg-6" style="padding-left: 90px;"> <img src="./assets/img/marcas.jpg" height="300" width=""></div>
          <div class="col-lg-6" style="padding-left: 60px;"> <img src="./assets/img/marcas2.jpg"height="300" width=""></div>
        </div>
       
       
      </div>
    </section><!-- End Cta Section -->

    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Servicios</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><mat-icon>star_rate</mat-icon></div>
              <h4>Calidad y excelencia</h4>
              <p>Nos enorgullece ofrecer instrumentos de las marcas más reconocidas y confiables de la industria musical.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><mat-icon>checklist_rtl</mat-icon></div>
              <h4>Amplia variedad de opciones</h4>
              <p>Ya sea que seas un principiante entusiasta o un músico experimentado, tenemos el instrumento perfecto para ti.</p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><mat-icon>groups</mat-icon></div>
              <h4>Experiencia y pasión</h4>
              <p>Nuestro equipo está formado por apasionados de la música que están aquí para ayudarte.</p>
            </div>
          </div>
          

        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><mat-icon>headset_mic</mat-icon></div>
              <h4>Experiencia musical inigualable</h4>
              <p>Nuestros expertos músicos te brindarán una experiencia musical inigualable, ofreciendo su conocimiento y asesoramiento.</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><mat-icon>local_shipping</mat-icon></div>
              <h4>Envío rápido y seguro</h4>
              <p>Realizamos envíos rápidos y seguros para que puedas recibir tus instrumentos y accesorios sin preocupaciones.</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><mat-icon>record_voice_over</mat-icon></div>
              <h4>Servicio al cliente excepcional</h4>
              <p>Nuestro equipo de atención al cliente está disponible para brindarte un servicio excepcional y resolver tus consultas o dudas.</p>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Services Section -->

   
     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto y ubicación</h2>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



</body>

