<form [formGroup]="metodoPagoForm" (ngSubmit)="isCreate ? crearMetodoPago() : actualizarMetodoPago()"  novalidate >
    <input type="hidden" formControlName="id"  />
    <mat-card class="shipping-card" >
      
        <mat-card-content>

            <div class="row g-0 " style="padding: 20px 0 0 20px;">
                <div class="col-5" style="padding-right: 15px;" >
                    <mat-form-field style="width: 100%;">
                        <mat-label>Número Tarjeta</mat-label>
                        <input matInput placeholder="____-____-____-____" formControlName="numTajeta" appCreditCardNumber>
            
                    </mat-form-field>
                </div>  
                
                <div class="col-2" style="padding-right: 15px;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo" required="false">
                    <mat-option value="Crédito">Crédito</mat-option>
                    <mat-option value="Dédito">Dédito</mat-option>
                    </mat-select>

                   

                </mat-form-field>
                </div>

                <div class="col-3" style="padding-right: 15px;">
                    <mat-form-field class="full-width" style="width: 100%;">
                        <mat-label>Fecha Vencimiento</mat-label>
                        <input matInput placeholder="__/____" formControlName="fechaVenc" appNumberFormat>
                       
                      </mat-form-field>
                      
                </div>

                <div class="col-2" style="padding-right: 15px;">
                <mat-form-field style="width: 100%;" >
                    <mat-label>Código Seguridad</mat-label>
                    <input matInput formControlName="codSeguridad">
                  
                </mat-form-field>
                
                </div>
                <div class="col-1" class="d-flex align-items-center justify-content-center">
                    <button mat-raised-button color="primary" type="submit" style="margin-right: 15px;"> <mat-icon >save</mat-icon></button>
                    <button mat-raised-button color="primary" (click)="reset($event)"> Cancelar</button>
                </div>

            </div>
        </mat-card-content>
      
    </mat-card>
  </form>
  